<link rel="stylesheet" href="views/products/products.css">
<link rel="stylesheet" href="views/products/catalog-colors-menu.css">
<div class="banner"> </div>
<div class="strip">
    <h5>Los mejores productos, al alcance de tu mano</h5> </div>
<section id="catalog">
    <div class="row" style="margin:0">
        <div class="col-xs-3" id="prodSelect">
            <div class="categories" ng-click="changeTab(1)" ng-class="{'tabActive': tab == 1}">Categories</div>
            <div class="colors" ng-click="changeTab(2)" ng-class="{'tabActive': tab == 2}">Colors</div>
            <div class="prodMenu">
                <div class="byColors" ng-if="tab == 2">
                    <div class="col-xs-4 colorPick">
                        <div class="colorOption blue">
                            <div class="optName">Blue</div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
        <div class="col-xs-9" id="prodShow">
            <div class="products">
                <div class="prod col-xs-3" ng-repeat="prod in products">
                    <div class="prodView" style="background-image:url( '{{ prod.img }}')"></div>
                    <div class="prodData">
                        <div class="prodName"><p><b>Product #{{$index + 1}}</b></p></div>
                        <hr style="margin: 10px;border-color:#e5097f">
                        <div class="prodDesc"><p>{{prod.description}}</p></div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- <div>
    <ul>
        <li ng-repeat="prod in products">
           a {{ prod.name }}
        </li>
    </ul>
</div>
whatss-->