/*Colores 
#e5097f Magenta
#F50087 Magenta Cla
#262525 Gris Osc
#E8E8E8 Gris Cla
*/

* {
    font-family: 'lato', sans-serif
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto', sans-serif!important
}


/*NAVBAR*/

nav {
    position: fixed!important;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 10;
}

.navbar-default {
    background-color: #262525!important;
    border: none!important;
    -webkit-box-shadow: 0 0 10px 0 rgba(1, 1, 1, 1);
    box-shadow: 0 0 10px 0 rgba(1, 1, 1, 1);
}

.navbar {
    border-radius: 0px!important;
}

.navbar.navbar-default {
    min-height: 70px
}

.navbar-brand {
    height: 70px;
    padding-top: 12px!important;
}

.navbar-brand img {
    height: 45px
}

.navbar-nav a {
    height: 65px;
    padding-top: 23px!important
}

.langicon {
    height: 20px;
    margin-right: 15px
}

nav {
    margin: 0!important;
}

nav .active {
    border-bottom: 5px solid #e5097f;
}

nav li:hover {
    border-bottom: 5px solid #e5097f;
}

nav a:hover {
    color: #E8E8E8!important;
}

.languages li:hover {
    border: none;
    border-right: 5px solid #e5097f;
}

.languages a:hover {
    background-color: #474747!important;
    cursor: pointer;
    color: #ccc!important;
}

nav a {
    color: #ccc!important;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: #E8E8E8!important;
    background-color: rgb(71, 71, 71)!important;
}

.languages a {
    padding: 10px!important;
    height: 40px;
}

.languages {
    background: #333!important;
}

.nav .open>a,
.nav .open>a:focus,
.nav .open>a:hover {
    background-color: #333!important;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #262525;
}

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}


/*FOOTER*/

#footer {
    padding: 50px 0;
    background: #262525;
    color: #ddd;
}

.footleft,
.footcenter {
    text-align: center
}

.footcenter {
    border: 1px solid #ccc;
    border-top: none;
    border-bottom: none;
}

.footleft img {
    max-width: 50%;
    margin-bottom: 20px;
}

#footer ul {
    padding: 0;
    list-style: none;
}

.footer-social-icons { 
    display: block;
    margin: 0 auto;
    margin-top: 50px;
}

.social-icon {
    color: #fff;
}

ul.social-icons {
    margin-top: 10px;
}

.social-icons li {
    vertical-align: top;
    display: inline;
    height: 100px;
    margin: 10px
}

.social-icons a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
}

.fa-facebook {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-facebook:hover {
    color: white;
    background-color: #3d5b99;
}

.fa-twitter {
    padding: 10px 12px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-twitter:hover {
    color: white;
    background-color: #00aced;
}

.fa-instagram {
    padding: 10px 14px;
    -o-transition: .5s;
    -ms-transition: .5s;
    -moz-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s;
    background-color: #322f30;
}

.fa-instagram:hover {
    color: white;
    background-color: #eb8231;
}